<form 
  [formGroup]="taskForm" 
  (ngSubmit)="onSubmit()" 
  [class]="'task-form task-form-' + context()"
>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Task Title</mat-label>
    <input
      matInput
      formControlName="title"
      (keydown)="onKeyDown($event)"
      [placeholder]="mode() === 'create' ? 'Enter new task...' : 'Edit task title'"
      [autofocus]="mode() === 'edit'"
    />
    @if (getTitleError()) {
      <mat-error>{{ getTitleError() }}</mat-error>
    }
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="priority-field">
    <mat-label>Priority</mat-label>
    <mat-select formControlName="priority">
      @for (priority of priorities; track priority) {
        <mat-option [value]="priority">
          {{ priority | titlecase }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  
  <div class="form-actions">
    <button 
      mat-raised-button 
      color="primary"
      type="submit" 
      class="btn-submit" 
      [disabled]="taskForm.invalid"
    >
      @if (mode() === 'create') {
        <mat-icon>add</mat-icon>
      } @else {
        <mat-icon>save</mat-icon>
      }
      {{ computedSubmitLabel() }}
    </button>
    
    @if (showCancel()) {
      <button 
        mat-button
        type="button" 
        class="btn-cancel" 
        (click)="onCancel()"
      >
        <mat-icon>close</mat-icon>
        Cancel
      </button>
    }
  </div>
</form>
