<mat-card class="task-list">
  <mat-card-header>
    <mat-card-title class="list-title" [class.completed]="filterByDone() === true" [class.outstanding]="filterByDone() === false">
      {{ title() }} ({{ filteredTasks().length }})
    </mat-card-title>
  </mat-card-header>
  
  <mat-card-content class="tasks">
    @if (filteredTasks().length === 0) {
      <p class="empty-message">{{ emptyMessage() }}</p>
    }
    <div cdkDropList
    (cdkDropListDropped)="onDragDrop($event)"
    [cdkDropListData]="filteredTasks"    
    >
    @for (task of paginatedTasks(); track task.id) {
      <div class="task-item" 
           [class.completed]="task.isDone" 
           cdkDrag 
           [cdkDragData]="task"
           >
        <mat-checkbox
          [checked]="task.isDone"
          (change)="toggleTask(task)"
          class="task-checkbox"
          color="primary"
        />
        <div class="task-content">
          @if (isEditing(task.id)) {
            <app-task-form
              [mode]="'edit'"
              [context]="'inline'"
              [initialTitle]="task.title"
              [initialPriority]="task.priority"
              [showCancel]="true"
              (formSubmitted)="onEditSubmit(task.id, $event)"
              (formCancelled)="onEditCancel()"
            />
          } @else {
            <div class="task-info">
              <span class="task-title">{{ task.title }}</span>
              <mat-chip [class]="'priority-' + task.priority">
                {{ task.priority | titlecase }}
              </mat-chip>
            </div>
          }
        </div>
        @if (!isEditing(task.id)) {
          <div class="task-actions">
            <button mat-icon-button (click)="startEditing(task)" color="primary" aria-label="Edit task">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteTask(task.id)" color="warn" aria-label="Delete task">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }
      </div>
    }
  </div>
  </mat-card-content>
  
  <mat-card-footer>
    <app-paging 
      [totalItems]="filteredTasks().length"
      [pageSize]="pageSize()"
      [currentPage]="currentPage()"
      (pageChanged)="onPageChanged($event)"
    />
  </mat-card-footer>
</mat-card>
